ChuckNorrisScroller_nodered.json
[{"id":"b711685c.1073e8","type":"inject","z":"c561467f.caf7c8","name":"scrolltext hier","topic":"","payload":"doen Chuck Norris lichtkrant","payloadType":"str","repeat":"2040","crontab":"","once":true,"x":158,"y":37.00000286102295,"wires":[["68da43fc.bd93ac"]]},{"id":"c0d8adad.2e00c","type":"inject","z":"c561467f.caf7c8","name":"scrolltext hier","topic":"","payload":"start lichtkrant","payloadType":"str","repeat":"1380","crontab":"","once":false,"x":117.16668701171875,"y":109.33335876464844,"wires":[["c8c5276b.d31d58"]]},{"id":"feffb282.7983f","type":"mqtt out","z":"c561467f.caf7c8","name":"","topic":"lichtkrant/tape","qos":"2","retain":"true","broker":"ebf3c94.d87e038","x":1041.1666870117188,"y":179.6666717529297,"wires":[]},{"id":"1407c848.030878","type":"mqtt in","z":"c561467f.caf7c8","name":"","topic":"lichtkrant/mqqt_connect","qos":"2","broker":"ebf3c94.d87e038","x":121.16668701171875,"y":256.3333435058594,"wires":[["4eebfe66.35443","c8c5276b.d31d58"]]},{"id":"4eebfe66.35443","type":"debug","z":"c561467f.caf7c8","name":"","active":true,"console":"false","complete":"false","x":405.1666946411133,"y":292.6666946411133,"wires":[]},{"id":"d70d7951.5cfa88","type":"inject","z":"c561467f.caf7c8","name":"Wemos led uit","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":144.16668701171875,"y":433.3333435058594,"wires":[["f4a22403.c56a68"]]},{"id":"f4a22403.c56a68","type":"mqtt out","z":"c561467f.caf7c8","name":"","topic":"ledStatus","qos":"2","retain":"true","broker":"ebf3c94.d87e038","x":430.1666946411133,"y":415.6666784286499,"wires":[]},{"id":"e52bc8e4.247078","type":"inject","z":"c561467f.caf7c8","name":"Wemos led aan","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":149,"y":490.0000123977661,"wires":[["f4a22403.c56a68"]]},{"id":"c8c5276b.d31d58","type":"function","z":"c561467f.caf7c8","name":"lichtkrant tekst","func":"// msg.payload = \"aponsen.. Verlangen, vervloeken Verdoemen, verzoeking Verdoemenis beloven Verbranden en vernietigen Verspreiden ze geboden    liefde    aponsen@hotmail.com        knuffelbeest                    liefde                 xx          mens         \";\n// msg.payload = \"    MQQT tekst         niet ONS huis maar MIJN huis        is dat liefde?     Leef aponsen@hotmail.com         \";\nmsg.payload = \"    MQQT tekst           \";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":377.16668701171875,"y":188,"wires":[["68da43fc.bd93ac"]]},{"id":"68da43fc.bd93ac","type":"http request","z":"c561467f.caf7c8","name":"GET chuck norris","method":"GET","ret":"txt","url":"https://api.chucknorris.io/jokes/random","tls":"","x":524.1666870117188,"y":52.000003814697266,"wires":[["eef5219f.764c1"]]},{"id":"9ecfe0b9.6602d","type":"debug","z":"c561467f.caf7c8","name":"","active":true,"console":"false","complete":"false","x":1025.166690826416,"y":62.66667366027832,"wires":[]},{"id":"11bb1634.e47eea","type":"function","z":"c561467f.caf7c8","name":"","func":"msg.payload = \" XX \" + msg.payload[\"value\"] + \"\";\nreturn msg;","outputs":1,"noerr":0,"x":856.1666870117188,"y":64.0000114440918,"wires":[["9ecfe0b9.6602d","feffb282.7983f"]]},{"id":"eef5219f.764c1","type":"json","z":"c561467f.caf7c8","name":"","x":704.1666870117188,"y":38,"wires":[["11bb1634.e47eea"]]},{"id":"ebf3c94.d87e038","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"michiele-mosquitto","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
